#navbarBrand {
    margin-left: 20px;  /* Adjust the value to increase or decrease the space */
}

.navbar {
    background-color: #5dd07c; /* Bootstrap's "primary" blue as an example */
}

.navbar-light .navbar-nav .nav-link {
    color: #000000; /* Black text */
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF; /* White text */
}

.img-fluid {
    max-width: 300px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio */
}

.background-image {
    background-image: url('./assets/images/home-background.png'); /* Adjust or remove if you want just color */
    background-color: #1E293B; /* Example color: Bootstrap primary blue */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.header {
    color: #EAECF3;
}

