body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

#navbarBrand {
    margin-left: 20px;  /* Adjust the value to increase or decrease the space */
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF; /* Black text */
}

.navbar-nav {
    padding-right: 100px;
}

.img-fluid {
    max-width: 300px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio */
}

.background-image {
    background-image: url('./assets/images/home-background.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust height as needed */
    width: 100%;
    display: flex;
    align-items: end; /* Aligns content vertically to the bottom */
}

.bg-dark {
    background-color: #000000 !important; /* Replace with your custom color */
}

.header {
    width: 100%; /* Ensures headers take up full width of their column */
    padding: 0 15px; /* Adds some padding on smaller screens */
    color: #FFFFFF;
    font-size: 350%;
    padding-bottom: 20px;
}

.text {
    width: 100%; /* Ensures headers take up full width of their column */
    padding: 0 15px; /* Adds some padding on smaller screens */
    color: #FFFFFF;
    font-size: 350%;
    padding-bottom: 150px;
}

@media (max-width: 576px) {
    .header {
        font-size: smaller; /* Adjust font size on smaller devices */
    }
}

