* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #14213D;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: white;
}

p, ul {
    font-family: 'Open Sans', serif;
    color: white;
}

#navbarBrand {
    margin-left: 20px;  /* Adjust the value to increase or decrease the space */
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF; /* Black text */
}

.navbar-nav {
    padding-right: 100px;
}

.img-fluid {
    max-width: 300px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio */
}

.background-image {
    position: relative;
    background-image: url('/assets/images/home-background.png');
    background-size: cover;
    background-position: center;
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: end;
    margin-bottom: 0;
    box-shadow: 0 36px 8px rgba(0, 0, 0, 0.3); /* Horizontal offset, vertical offset, blur radius, shadow color */
}


.background-image::before {
    content: ""; /* Required for the pseudo-element to show */
    position: absolute; /* Positions relative to the .background-image */
    top: 0;
    left: 0;
    width: 100%; /* Full width of the parent */
    height: 100%; /* Full height of the parent */
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: -1; /* Ensures the overlay is above the background image but below other content */
}


.bg-dark {
    background-color: #000000 !important; /* Replace with your custom color */
}

.header {
    width: 100%; /* Ensures headers take up full width of their column */
    padding: 0 15px; /* Adds some padding on smaller screens */
    color: #FFFFFF;
    font-size: 350%;
    padding-bottom: 20px;
    padding-left: 6vw;
}

.text {
    width: 100%; /* Ensures headers take up full width of their column */
    padding: 0 15px; /* Adds some padding on smaller screens */
    color: #FFFFFF;
    font-size: 350%;
    padding-bottom: 150px;
    padding-left: 6vw;
}

@media (max-width: 576px) {
    .header {
        font-size: smaller; /* Adjust font size on smaller devices */
    }
}


.triangle-section {
    width: 0;
    height: 0;
    border-left: 25vw solid transparent;
    border-right: 75vw solid transparent;
    border-top: 20vh solid #000000; /* Adjust the color and size as needed */
    position: relative; /* Needed to position the pseudo-element */
}

.triangle-section::after {
    content: '';
    position: absolute;
    top: -150px; /* Adjust this value to shift the shadow */
    right: -1450px;
    width: 0;
    height: 1000px;
    border-left: 25vw solid transparent;
    border-right: 75vw solid transparent;
    border-top: 20vh solid rgba(0, 0, 0, 0.5); /* Semi-transparent black for shadow effect */
    filter: blur(10px); /* Adds a blur effect to the shadow */
    z-index: -1; /* Puts the shadow behind the triangle */
}

#loremTag{
    padding-top: 15vh;
}

#lorem{
    font-size: 150%;
}

.custom-size {
    max-width: 50%; /* or any percentage or pixel value you prefer */
    height: auto;   /* maintains the aspect ratio */
}

#snippet {
    padding-top: 7%;
    max-width: 40%; /* Adjusts the width */
    height: auto; /* Maintains aspect ratio */
    margin-left: 10%; /* Moves the image to the right */
}
